// --------------------------------------------
// カラー
// --------------------------------------------
$colorWhite: #fff;

$colorText: #333;
$colorBackground: #ecf7ed;

$colorHamburgerBackground: #5a8b5c;

$colorBorder: #C6C6C6;


// --------------------------------------------
// 幅
// --------------------------------------------
$wrapperMaxWidth: 380px;
$wrapperMaxWidthPc: 934px;



// --------------------------------------------
// 高さ
// --------------------------------------------
$headerHeight: 80px;


// --------------------------------------------
// 文字の太さ
// --------------------------------------------
$fontWeightMain: 700;